@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.App {
    width: 100vw;
    height: 100vh;
}
.container{
    margin-top: 60px;
    margin-left: 40px;
}
.heading{
    font-size: 3em;
}
.btn{
    margin-top: 20px;
    margin-right: 15px;
}
.form{
    margin:auto;
    width: 70%;
}

.Sidebar {
    height: 100%;
    width: 100%;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidebarList .row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SidebarList .row:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.SidebarList #active {
    background-color: black;
    color: white;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}


.col-md-2 {
    height: 100%;
    display: flex;
    align-items: center;
}

.col-md-10 {
    height: 100%;
    display: flex;
    justify-content: center;
}

.employee {
    text-align:start;
    padding:5px;
    border-radius:5px;
}


.calendarTile {
    height: 80px;
    width: 80px;
}

.invisibleTile:disabled {
    height: 80px;
    width: 80px;
    background-color: white;
    border-color: white;
}

.dayTile:disabled {
    height: 80px;
    width: 80px;
    background-color: #000;
    border-color: #000;
    color: white;
}

.nameTile {
    height: 80px;
    width: 80px;
    background-color: black;
    border-color: black;
    color: white;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}