 /* Written by Nate Goodman and Garrett Marshall */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.App {
    width: 100vw;
    height: 100vh;
}
.container{
    margin-top: 60px;
    margin-left: 40px;
}
.heading{
    font-size: 3em;
}
.btn{
    margin-top: 20px;
    margin-right: 15px;
}
.form{
    margin:auto;
    width: 70%;
}

.Sidebar {
    height: 100%;
    width: 100%;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidebarList .row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SidebarList .row:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.SidebarList #active {
    background-color: black;
    color: white;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}


.col-md-2 {
    height: 100%;
    display: flex;
    align-items: center;
}

.col-md-10 {
    height: 100%;
    display: flex;
    justify-content: center;
}

.employee {
    text-align:start;
    padding:5px;
    border-radius:5px;
}


.calendarTile {
    height: 80px;
    width: 80px;
    color: black;
    background-color: white;
    border-color: #FF6868;
}

.calendarTile:hover {
    background-color: #FF6868;
    border-color: #FF6868;
    color: white;
}

.invisibleTile:disabled {
    height: 80px;
    width: 80px;
    background-color: white;
    border-color: white;
}

.modInvisibleTile:disabled {
    height: 80px;
    width: 425px;
    background-color: white;
    border-color: white;
}

.dayTile:disabled {
    height: 50px;
    width: 80px;
    background-color: #000;
    border-color: #000;
    color: white;
}

.nameTile {
    height: 50px;
    width: 80px;
    background-color: #FF6868;
    border-color: #FF6868;
    color: black;
}

.nameTile:hover {
    background-color: #FF6868;
    border-color: #FF6868;
    color: black;
}

.nameTile:active, .nameTile:target, .nameTile:focus, .nameTile:active:focus {
    background-color: #FF6868;
    border-color: #FF6868;
    outline: red;
    box-shadow: red;
}

.mb-2 {
    background-color: #FF6868;
    border-color: #FF6868;
    color: black;
}
.mb-2:hover {
    background-color: #FF6868;
    border-color: #FF6868;
    color: black;
}

.mb-2:active, .mb-2:target, .mb-2:focus, .mb-2:active:focus {
    background-color: #FF6868;
    border-color: #FF6868;
    outline: red;
    box-shadow: red;
}

.btn-lg {
    background-color: #FF6868;
    border-color: #FF6868;
    color: black;
}
.btn-primary:hover, .btn-lg:hover {
    background-color: #FF6868;
    border-color: #FF6868;
    color: black;
}
.btn-primary:active, .btn-primary:target, .btn-primary:focus, .btn-primary:active:focus, .btn-lg:active, .btn-lg:target, .btn-lg:focus, .btn-lg:active:focus {
    background-color: #FF6868;
    border-color: #FF6868;
    outline: red;
    box-shadow: red;
}

.addRoleRow {
}

.addRole {
    height: 60px;
    width: 80px;
    background-color: #FF6868;
    border-color: #FF6868;
    color: black;
}
.addRole:hover, .addRole:hover {
    background-color: #FF6868;
    border-color: #FF6868;
    color: black;
}
.addRole:active, .addRole:target, .addRole:focus, .addRole:active:focus, .addRole:active, .addRole:target, .addRole:focus, .addRole:active:focus {
    background-color: #FF6868;
    border-color: #FF6868;
    outline: red;
    box-shadow: red;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}